USE [master]
GO
/****** Object:  Database [TekConsult]    Script Date: 03-03-2026 15:30:37 ******/
CREATE DATABASE [TekConsult]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TekConsult', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TekConsult.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TekConsult_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TekConsult_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TekConsult].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TekConsult]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AddressLine] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Zipcode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedOn] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NULL,
	[PerformedBy] [uniqueidentifier] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[MessageId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageType] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[ConversationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantBankDetails]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantBankDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[AccountHolderName] [nvarchar](150) NOT NULL,
	[BankName] [nvarchar](150) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[IFSCCode] [nvarchar](20) NOT NULL,
	[BranchName] [nvarchar](150) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantCategories]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantCategories](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ConsultantCategories] PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantProfiles]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantProfiles](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[ExperienceYears] [int] NULL,
	[ProfilePhotoUrl] [nvarchar](500) NULL,
	[ChatRatePerMinute] [decimal](10, 2) NOT NULL,
	[CallRatePerMinute] [decimal](10, 2) NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[FreeMinutesOffer] [int] NOT NULL,
	[AverageRating] [decimal](3, 2) NOT NULL,
	[TotalSessionsCompleted] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ConsultantCategory] [nvarchar](max) NULL,
	[Gender] [nvarchar](20) NULL,
	[Languages] [nvarchar](300) NULL,
	[DiscountedCallRate] [decimal](18, 2) NULL,
	[IsCallDiscountActive] [bit] NOT NULL,
	[DiscountedChatRate] [decimal](18, 2) NULL,
	[IsChatDiscountActive] [bit] NOT NULL,
	[DiscountStart] [datetime2](7) NULL,
	[DiscountEnd] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantSubCategories]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantSubCategories](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[SubCategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ConsultantSubCategories] PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC,
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationSessions]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationSessions](
	[SessionId] [uniqueidentifier] NOT NULL,
	[Mode] [int] NOT NULL,
	[State] [int] NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[TotalDurationSeconds] [int] NULL,
	[TotalChargedAmount] [decimal](18, 2) NOT NULL,
	[ConsultantEarnings] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MaxAllowedEndTime] [datetime] NULL,
	[isDisputed] [bit] NOT NULL,
	[AppliedRate] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disputes]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disputes](
	[DisputeId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[RaisedByUserId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisputeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCDocuments]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCDocuments](
	[DocId] [uniqueidentifier] NOT NULL,
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[DocumentUrl] [nvarchar](500) NOT NULL,
	[VerificationStatus] [int] NOT NULL,
	[AdminFeedback] [nvarchar](500) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](1000) NULL,
	[Type] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentGateways]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentGateways](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[GatewayTransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[GatewayStatus] [nvarchar](50) NULL,
	[GatewayResponse] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsModerated] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionBillingTicks]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionBillingTicks](
	[TickId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[AmountDeducted] [decimal](18, 2) NOT NULL,
	[BalanceAfterDeduction] [decimal](18, 2) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TickId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionParticipants]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionParticipants](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [uniqueidentifier] NOT NULL,
	[WalletId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ReferenceId] [nvarchar](100) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentMethodRef] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPaymentMethods]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPaymentMethods](
	[PaymentMethodId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MethodType] [nvarchar](20) NOT NULL,
	[EncryptedPayload] [nvarchar](max) NOT NULL,
	[MaskedDisplay] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsPhoneVerified] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CountryCode] [nvarchar](5) NULL,
	[Email] [nvarchar](max) NULL,
	[IsConsultantVerified] [bit] NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[ProfilePhotoUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[WalletId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Wallets_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequests]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequests](
	[RequestId] [uniqueidentifier] NOT NULL,
	[ConsultantUserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BankDetailsSnapshot] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_SessionId]    Script Date: 03-03-2026 15:30:37 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_SessionId] ON [dbo].[ChatMessages]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_ConsultantId]    Script Date: 03-03-2026 15:30:37 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_ConsultantId] ON [dbo].[Conversations]
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_LastMessageAt]    Script Date: 03-03-2026 15:30:37 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_LastMessageAt] ON [dbo].[Conversations]
(
	[LastMessageAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_UserId]    Script Date: 03-03-2026 15:30:37 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_UserId] ON [dbo].[Conversations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Conversations_User_Consultant]    Script Date: 03-03-2026 15:30:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Conversations_User_Consultant] ON [dbo].[Conversations]
(
	[UserId] ASC,
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT ((1)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [FreeMinutesOffer]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [TotalSessionsCompleted]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsCallDiscountActive]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsChatDiscountActive]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [TotalChargedAmount]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [ConsultantEarnings]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [isDisputed]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [AppliedRate]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Disputes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsModerated]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsPhoneVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsConsultantVerified]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ConsultationSessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ConsultationSessions_SessionId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Conversations] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Conversations]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Session]
GO
ALTER TABLE [dbo].[ConsultantBankDetails]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantBank_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConsultantBankDetails] CHECK CONSTRAINT [FK_ConsultantBank_Consultant]
GO
ALTER TABLE [dbo].[ConsultantCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ConsultantCategories] CHECK CONSTRAINT [FK_ConsultantCategories_Categories]
GO
ALTER TABLE [dbo].[ConsultantCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantCategories_ConsultantProfiles] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantCategories] CHECK CONSTRAINT [FK_ConsultantCategories_ConsultantProfiles]
GO
ALTER TABLE [dbo].[ConsultantProfiles]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConsultantProfiles] CHECK CONSTRAINT [FK_ConsultantProfiles_Users]
GO
ALTER TABLE [dbo].[ConsultantSubCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantSubCategories_Categories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ConsultantSubCategories] CHECK CONSTRAINT [FK_ConsultantSubCategories_Categories]
GO
ALTER TABLE [dbo].[ConsultantSubCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantSubCategories_ConsultantProfiles] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantSubCategories] CHECK CONSTRAINT [FK_ConsultantSubCategories_ConsultantProfiles]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Consultant]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_User]
GO
ALTER TABLE [dbo].[Disputes]  WITH CHECK ADD  CONSTRAINT [FK_Disputes_ConsultationSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Disputes] CHECK CONSTRAINT [FK_Disputes_ConsultationSessions]
GO
ALTER TABLE [dbo].[KYCDocuments]  WITH CHECK ADD  CONSTRAINT [FK_KYC_Consultant] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
GO
ALTER TABLE [dbo].[KYCDocuments] CHECK CONSTRAINT [FK_KYC_Consultant]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[PaymentGateways]  WITH CHECK ADD  CONSTRAINT [FK_PaymentGateways_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentGateways] CHECK CONSTRAINT [FK_PaymentGateways_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SessionBillingTicks]  WITH CHECK ADD  CONSTRAINT [FK_SessionBillingTicks_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[SessionBillingTicks] CHECK CONSTRAINT [FK_SessionBillingTicks_Session]
GO
ALTER TABLE [dbo].[SessionParticipants]  WITH CHECK ADD  CONSTRAINT [FK_SessionParticipants_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[SessionParticipants] CHECK CONSTRAINT [FK_SessionParticipants_Session]
GO
ALTER TABLE [dbo].[SessionParticipants]  WITH CHECK ADD  CONSTRAINT [FK_SessionParticipants_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SessionParticipants] CHECK CONSTRAINT [FK_SessionParticipants_User]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Wallets] FOREIGN KEY([WalletId])
REFERENCES [dbo].[Wallets] ([WalletId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Wallets]
GO
ALTER TABLE [dbo].[UserPaymentMethods]  WITH CHECK ADD  CONSTRAINT [FK_UserPaymentMethods_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPaymentMethods] CHECK CONSTRAINT [FK_UserPaymentMethods_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users]
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD  CONSTRAINT [FK_WithdrawalRequests_Users] FOREIGN KEY([ConsultantUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WithdrawalRequests] CHECK CONSTRAINT [FK_WithdrawalRequests_Users]
GO
ALTER TABLE [dbo].[ConsultantProfiles]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
/****** Object:  StoredProcedure [dbo].[GetUsersForAdmin]    Script Date: 03-03-2026 15:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[GetUsersForAdmin]
    @Skip INT,
    @Take INT,
    @IsConsultant BIT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.UserId,
        u.FirstName,
        u.MiddleName,
        u.LastName,
        u.Email,
        u.CountryCode,
        u.PhoneNumber,
        u.Status,
        u.IsPhoneVerified,
        u.IsConsultantVerified,
        u.CreatedOn,
        r.RoleName,

        -- Consultant
        cp.ConsultantProfileId,
        cp.Bio,
        cp.ExperienceYears,
        cp.ChatRatePerMinute,
        cp.CallRatePerMinute,
        cp.IsOnline,
        cp.FreeMinutesOffer,
        cp.AverageRating,
        cp.TotalSessionsCompleted,

        -- Address
        a.AddressId,
        a.AddressLine,
        a.City,
        a.State,
        a.Zipcode,
        a.Country

    FROM Users u
    INNER JOIN Roles r ON u.RoleId = r.RoleId
    LEFT JOIN ConsultantProfiles cp ON cp.UserId = u.UserId
    LEFT JOIN Addresses a ON a.UserId = u.UserId

    WHERE
        (
            (@IsConsultant = 1 AND r.RoleName = 'Consultant')
            OR
            (@IsConsultant = 0 AND r.RoleName = 'User')
        )

    ORDER BY u.CreatedOn DESC
    OFFSET @Skip ROWS
    FETCH NEXT @Take ROWS ONLY;
END

GO
USE [master]
GO
