USE [master]
GO
/****** Object:  Database [TekConsult]    Script Date: 03-03-2026 15:38:23 ******/
CREATE DATABASE [TekConsult]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TekConsult', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TekConsult.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TekConsult_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TekConsult_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TekConsult].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TekConsult]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AddressLine] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Zipcode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedOn] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NULL,
	[PerformedBy] [uniqueidentifier] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[MessageId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageType] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[ConversationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantBankDetails]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantBankDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[AccountHolderName] [nvarchar](150) NOT NULL,
	[BankName] [nvarchar](150) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[IFSCCode] [nvarchar](20) NOT NULL,
	[BranchName] [nvarchar](150) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantCategories]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantCategories](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ConsultantCategories] PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantProfiles]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantProfiles](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[ExperienceYears] [int] NULL,
	[ProfilePhotoUrl] [nvarchar](500) NULL,
	[ChatRatePerMinute] [decimal](10, 2) NOT NULL,
	[CallRatePerMinute] [decimal](10, 2) NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[FreeMinutesOffer] [int] NOT NULL,
	[AverageRating] [decimal](3, 2) NOT NULL,
	[TotalSessionsCompleted] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ConsultantCategory] [nvarchar](max) NULL,
	[Gender] [nvarchar](20) NULL,
	[Languages] [nvarchar](300) NULL,
	[DiscountedCallRate] [decimal](18, 2) NULL,
	[IsCallDiscountActive] [bit] NOT NULL,
	[DiscountedChatRate] [decimal](18, 2) NULL,
	[IsChatDiscountActive] [bit] NOT NULL,
	[DiscountStart] [datetime2](7) NULL,
	[DiscountEnd] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantSubCategories]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantSubCategories](
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[SubCategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ConsultantSubCategories] PRIMARY KEY CLUSTERED 
(
	[ConsultantProfileId] ASC,
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationSessions]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationSessions](
	[SessionId] [uniqueidentifier] NOT NULL,
	[Mode] [int] NOT NULL,
	[State] [int] NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[TotalDurationSeconds] [int] NULL,
	[TotalChargedAmount] [decimal](18, 2) NOT NULL,
	[ConsultantEarnings] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MaxAllowedEndTime] [datetime] NULL,
	[isDisputed] [bit] NOT NULL,
	[AppliedRate] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastMessageAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disputes]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disputes](
	[DisputeId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[RaisedByUserId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisputeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYCDocuments]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYCDocuments](
	[DocId] [uniqueidentifier] NOT NULL,
	[ConsultantProfileId] [uniqueidentifier] NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[DocumentUrl] [nvarchar](500) NOT NULL,
	[VerificationStatus] [int] NOT NULL,
	[AdminFeedback] [nvarchar](500) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](1000) NULL,
	[Type] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentGateways]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentGateways](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[GatewayTransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[GatewayStatus] [nvarchar](50) NULL,
	[GatewayResponse] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ConsultantId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsModerated] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionBillingTicks]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionBillingTicks](
	[TickId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[AmountDeducted] [decimal](18, 2) NOT NULL,
	[BalanceAfterDeduction] [decimal](18, 2) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TickId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionParticipants]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionParticipants](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [uniqueidentifier] NOT NULL,
	[WalletId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ReferenceId] [nvarchar](100) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentMethodRef] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPaymentMethods]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPaymentMethods](
	[PaymentMethodId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MethodType] [nvarchar](20) NOT NULL,
	[EncryptedPayload] [nvarchar](max) NOT NULL,
	[MaskedDisplay] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsPhoneVerified] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CountryCode] [nvarchar](5) NULL,
	[Email] [nvarchar](max) NULL,
	[IsConsultantVerified] [bit] NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[ProfilePhotoUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[WalletId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequests]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequests](
	[RequestId] [uniqueidentifier] NOT NULL,
	[ConsultantUserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BankDetailsSnapshot] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260220081801_AddProfilePhotoUrl', N'9.0.1')
GO
INSERT [dbo].[Addresses] ([AddressId], [UserId], [AddressLine], [City], [State], [Zipcode], [Country], [CreatedOn], [ModifiedOn]) VALUES (N'9d071e77-96f0-4e2b-866a-53cf0a8b899a', N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', N'3rd Floor, Legal Tower', N'New Delhi', N'Delhi', N'110011', N'India', CAST(N'2026-02-04T11:15:34.0462139' AS DateTime2), CAST(N'2026-03-02T11:00:52.3984002' AS DateTime2))
INSERT [dbo].[Addresses] ([AddressId], [UserId], [AddressLine], [City], [State], [Zipcode], [Country], [CreatedOn], [ModifiedOn]) VALUES (N'e94a6e67-38f4-438b-a18e-6799882b19a5', N'd4047a81-2539-41d1-a823-69c8bc3c05a6', N'', N'Mumbai', N'Maharashtra', N'400001', N'India', CAST(N'2026-03-02T06:14:17.9629798' AS DateTime2), CAST(N'2026-03-02T06:17:49.6069757' AS DateTime2))
INSERT [dbo].[Addresses] ([AddressId], [UserId], [AddressLine], [City], [State], [Zipcode], [Country], [CreatedOn], [ModifiedOn]) VALUES (N'fe1c94df-2432-4b87-b851-983e0f974527', N'70be580e-cefd-4183-bb11-06a2502344d1', N'Pata nhi', N'Ranchi', N'Jharkhand', N'123456', N'India', CAST(N'2026-02-02T06:05:41.3691925' AS DateTime2), CAST(N'2026-02-02T06:09:12.0238381' AS DateTime2))
GO
INSERT [dbo].[AuditLogs] ([AuditId], [Action], [EntityName], [EntityId], [PerformedBy], [OldValue], [NewValue], [Timestamp]) VALUES (N'28da8ac6-de91-4164-bfa7-0027ab59d15b', N'LOGIN_EMAIL', N'Users', N'70be580e-cefd-4183-bb11-06a2502344d1', N'70be580e-cefd-4183-bb11-06a2502344d1', NULL, N'User logged in via email & password', CAST(N'2026-01-23T05:53:25.7345744' AS DateTime2))
INSERT [dbo].[AuditLogs] ([AuditId], [Action], [EntityName], [EntityId], [PerformedBy], [OldValue], [NewValue], [Timestamp]) VALUES (N'0259006d-bc17-4d51-ab5e-003228b7d10e', N'LOGIN_EMAIL', N'Users', N'70be580e-cefd-4183-bb11-06a2502344d1', N'70be580e-cefd-4183-bb11-06a2502344d1', NULL, N'User logged in via email & password', CAST(N'2026-01-23T11:08:33.7394408' AS DateTime2))
INSERT [dbo].[AuditLogs] ([AuditId], [Action], [EntityName], [EntityId], [PerformedBy], [OldValue], [NewValue], [Timestamp]) VALUES (N'31f2b39f-ebab-445b-9872-005653f1a119', N'SESSION_ENDED', N'ConsultationSessions', N'ea169bc6-6ed0-4852-ab4a-ae210c6df0a1', N'2b47327f-823e-4142-85b5-5230708176d8', N'State: 1 (Active)', N'State: 2 (Completed), Duration: 79s, Amount: 0.00', CAST(N'2026-02-10T10:31:35.2080418' AS DateTime2))
GO
INSERT [dbo].[Categories] ([CategoryId], [Name], [ParentCategoryId], [IsActive], [Description]) VALUES (N'fedc7577-1c11-4868-9519-03f7d3d46cad', N'Body Transformation Programs', N'a16ea143-6a5f-43ae-9856-d4f65608bfed', 1, NULL)
INSERT [dbo].[Categories] ([CategoryId], [Name], [ParentCategoryId], [IsActive], [Description]) VALUES (N'7eae521b-7582-44f0-9e62-0563ac50ab1b', N'Residential Interior Design', N'0a16fc51-40bb-4ee4-82de-c782da94a527', 1, N'')
INSERT [dbo].[Categories] ([CategoryId], [Name], [ParentCategoryId], [IsActive], [Description]) VALUES (N'42e0d852-5693-4f92-bf7e-099d8fa59911', N'Sports', NULL, 0, NULL)
GO
INSERT [dbo].[ChatMessages] ([MessageId], [SessionId], [SenderId], [Content], [MessageType], [IsRead], [Timestamp], [ConversationId]) VALUES (N'96a87364-c9ed-441c-a254-0168bfe5754c', N'06867212-0ce4-4d32-a8ca-8ebcd9dd695c', N'2b47327f-823e-4142-85b5-5230708176d8', N'asdfghjkl;', 0, 0, CAST(N'2026-02-17T11:07:24.7957867' AS DateTime2), NULL)
INSERT [dbo].[ChatMessages] ([MessageId], [SessionId], [SenderId], [Content], [MessageType], [IsRead], [Timestamp], [ConversationId]) VALUES (N'bc373bed-f748-4615-84be-0315704dea9f', N'06867212-0ce4-4d32-a8ca-8ebcd9dd695c', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'asdfghjzxcvbnm', 0, 0, CAST(N'2026-02-17T11:07:30.1166272' AS DateTime2), NULL)
INSERT [dbo].[ChatMessages] ([MessageId], [SessionId], [SenderId], [Content], [MessageType], [IsRead], [Timestamp], [ConversationId]) VALUES (N'c6812480-8da0-42ea-928b-032266464120', N'245ed695-0e1c-4be1-998a-f2a2aacb51fe', N'2b47327f-823e-4142-85b5-5230708176d8', N'hello', 0, 0, CAST(N'2026-02-17T10:19:52.4620721' AS DateTime2), NULL)
GO
INSERT [dbo].[ConsultantBankDetails] ([Id], [ConsultantId], [AccountHolderName], [BankName], [AccountNumber], [IFSCCode], [BranchName], [IsDefault], [IsVerified], [CreatedAt], [UpdatedAt]) VALUES (N'f302eb1f-ef4a-464a-bcbd-3808e54a138e', N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', N'Rohan Mehta', N'HDFC Bank', N'50200012345678', N'HDFC0004567', N'Andheri East', 1, 0, CAST(N'2026-02-27T05:50:50.1434301' AS DateTime2), CAST(N'2026-02-27T05:50:50.1914569' AS DateTime2))
INSERT [dbo].[ConsultantBankDetails] ([Id], [ConsultantId], [AccountHolderName], [BankName], [AccountNumber], [IFSCCode], [BranchName], [IsDefault], [IsVerified], [CreatedAt], [UpdatedAt]) VALUES (N'2b65f702-3ded-4c8b-91b6-8e58915d4872', N'2b47327f-823e-4142-85b5-5230708176d8', N'Priya Patel', N'State Bank of India', N'123456789014', N'SBIN0000456', N'Ranchi Main Branch', 1, 1, CAST(N'2026-02-18T06:22:44.2633333' AS DateTime2), CAST(N'2026-02-18T07:08:15.5965398' AS DateTime2))
INSERT [dbo].[ConsultantBankDetails] ([Id], [ConsultantId], [AccountHolderName], [BankName], [AccountNumber], [IFSCCode], [BranchName], [IsDefault], [IsVerified], [CreatedAt], [UpdatedAt]) VALUES (N'a4eb3fda-c063-4ae3-8d21-d0759ded6813', N'472f1414-a872-4b16-85fe-93a1aaa4d145', N'Aisha Mehra', N'ICICI Bank', N'00180540012345', N'ICIC0001805', N'Koramangala, Bengaluru', 1, 0, CAST(N'2026-03-02T07:20:41.0811419' AS DateTime2), CAST(N'2026-03-02T07:20:41.0974738' AS DateTime2))
GO
INSERT [dbo].[ConsultantCategories] ([ConsultantProfileId], [CategoryId]) VALUES (N'ba20df0e-e18b-4c94-bcda-2cdd09754823', N'd7b5f3ac-b505-42e0-a63a-1a00b75e1afe')
INSERT [dbo].[ConsultantCategories] ([ConsultantProfileId], [CategoryId]) VALUES (N'2544536f-e82f-442f-b3e0-e64ec77442e2', N'0a16fc51-40bb-4ee4-82de-c782da94a527')
INSERT [dbo].[ConsultantCategories] ([ConsultantProfileId], [CategoryId]) VALUES (N'cf4aa4bf-b8ba-4297-8685-ece747a8957d', N'c5668f1f-bb2f-42d0-a8cb-5267a91a6f4e')
GO
INSERT [dbo].[ConsultantSubCategories] ([ConsultantProfileId], [SubCategoryId]) VALUES (N'ba20df0e-e18b-4c94-bcda-2cdd09754823', N'1bc20b34-11fd-4ace-8977-4a043041eebb')
INSERT [dbo].[ConsultantSubCategories] ([ConsultantProfileId], [SubCategoryId]) VALUES (N'ba20df0e-e18b-4c94-bcda-2cdd09754823', N'594a7ffa-b82d-4bd5-bd6f-6171a805eabf')
INSERT [dbo].[ConsultantSubCategories] ([ConsultantProfileId], [SubCategoryId]) VALUES (N'ba20df0e-e18b-4c94-bcda-2cdd09754823', N'069a99e4-f8d4-4b80-b659-7f0b50b3a6f0')
GO
INSERT [dbo].[ConsultationSessions] ([SessionId], [Mode], [State], [StartTime], [EndTime], [TotalDurationSeconds], [TotalChargedAmount], [ConsultantEarnings], [CreatedAt], [MaxAllowedEndTime], [isDisputed], [AppliedRate]) VALUES (N'f55725ee-68d3-4954-bcfd-004c67557cfc', 0, 2, CAST(N'2026-02-17T05:08:24.2531744' AS DateTime2), CAST(N'2026-02-17T05:09:53.2874806' AS DateTime2), 89, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-02-17T05:07:52.6942945' AS DateTime2), CAST(N'2026-02-17T05:37:59.253' AS DateTime), 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ConsultationSessions] ([SessionId], [Mode], [State], [StartTime], [EndTime], [TotalDurationSeconds], [TotalChargedAmount], [ConsultantEarnings], [CreatedAt], [MaxAllowedEndTime], [isDisputed], [AppliedRate]) VALUES (N'47711f10-2058-4e03-a486-011be90cd019', 1, 3, CAST(N'2026-02-26T12:55:03.2634515' AS DateTime2), CAST(N'2026-02-26T12:55:03.2634515' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-02-26T12:53:46.1944540' AS DateTime2), NULL, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ConsultationSessions] ([SessionId], [Mode], [State], [StartTime], [EndTime], [TotalDurationSeconds], [TotalChargedAmount], [ConsultantEarnings], [CreatedAt], [MaxAllowedEndTime], [isDisputed], [AppliedRate]) VALUES (N'43609c00-e483-42a7-b5a1-0512a88ad1e3', 0, 2, CAST(N'2026-02-12T12:03:54.5692053' AS DateTime2), CAST(N'2026-02-12T12:03:54.5692053' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-02-12T11:37:15.4743372' AS DateTime2), NULL, 0, CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Conversations] ([Id], [UserId], [ConsultantId], [CreatedAt], [LastMessageAt]) VALUES (N'4ae18094-e931-4b9f-bbcf-6aa5e64e1cce', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'2b47327f-823e-4142-85b5-5230708176d8', CAST(N'2026-02-26T06:10:33.4774938' AS DateTime2), NULL)
GO
INSERT [dbo].[Disputes] ([DisputeId], [SessionId], [RaisedByUserId], [Description], [Status], [RefundAmount], [CreatedAt], [ResolvedAt]) VALUES (N'b8c5c0b2-77bc-4910-b141-463e4bce6825', N'ba1dd43b-1b90-4ab2-a500-c56074563ca2', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'Reason: billing
Description: asd', 2, CAST(4.33 AS Decimal(18, 2)), CAST(N'2026-02-23T11:25:57.1432939' AS DateTime2), CAST(N'2026-02-23T11:28:48.0045137' AS DateTime2))
INSERT [dbo].[Disputes] ([DisputeId], [SessionId], [RaisedByUserId], [Description], [Status], [RefundAmount], [CreatedAt], [ResolvedAt]) VALUES (N'427b441c-6d82-4179-9e7f-536955555263', N'6688ac1d-adfa-449a-ab61-fcda79253dd2', N'2b47327f-823e-4142-85b5-5230708176d8', N'Paisa bapas krde chup chap', 1, CAST(88.00 AS Decimal(18, 2)), CAST(N'2026-01-29T12:02:53.3713204' AS DateTime2), CAST(N'2026-01-29T12:06:27.5965115' AS DateTime2))
INSERT [dbo].[Disputes] ([DisputeId], [SessionId], [RaisedByUserId], [Description], [Status], [RefundAmount], [CreatedAt], [ResolvedAt]) VALUES (N'd2e80859-64d9-47c6-9c4e-716f84b79149', N'ba1dd43b-1b90-4ab2-a500-c56074563ca2', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'Reason: other
Description: Could not chat even after session connected.', 1, CAST(4.33 AS Decimal(18, 2)), CAST(N'2026-02-20T11:20:25.1088135' AS DateTime2), CAST(N'2026-02-20T11:21:54.5395273' AS DateTime2))
GO
INSERT [dbo].[KYCDocuments] ([DocId], [ConsultantProfileId], [DocumentType], [DocumentUrl], [VerificationStatus], [AdminFeedback], [UploadedAt], [VerifiedAt]) VALUES (N'f2381abf-53e4-4235-a855-0e1f5e7d0be8', N'cf4aa4bf-b8ba-4297-8685-ece747a8957d', N'Aadhar Card', N'/uploads/kyc/9558675e-172d-4f1f-bcb8-170eb3cd2575.jpg', 1, NULL, CAST(N'2026-02-18T07:07:38.1254978' AS DateTime2), CAST(N'2026-02-18T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[KYCDocuments] ([DocId], [ConsultantProfileId], [DocumentType], [DocumentUrl], [VerificationStatus], [AdminFeedback], [UploadedAt], [VerifiedAt]) VALUES (N'70b4cfa2-ea02-46b3-b0ad-1b857078cb7c', N'cf4aa4bf-b8ba-4297-8685-ece747a8957d', N'Voter ID', N'/uploads/kyc/199c254a-6bbd-47aa-b0e7-25f7fed29e75.jpg', 2, N'Photo is unclear. ', CAST(N'2026-02-19T12:02:31.3902085' AS DateTime2), CAST(N'2026-02-19T12:06:30.6254714' AS DateTime2))
INSERT [dbo].[KYCDocuments] ([DocId], [ConsultantProfileId], [DocumentType], [DocumentUrl], [VerificationStatus], [AdminFeedback], [UploadedAt], [VerifiedAt]) VALUES (N'9c4d5005-828f-4347-b919-4e50f05b8c1c', N'cf4aa4bf-b8ba-4297-8685-ece747a8957d', N'Passport', N'/uploads/kyc/417fc011-917e-4e6e-895d-f3df40e7c002.jpg', 2, N'Wrong Document uploaded', CAST(N'2026-02-19T12:13:17.7093323' AS DateTime2), CAST(N'2026-02-19T12:14:07.3438094' AS DateTime2))
GO
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Body], [Type], [IsRead], [CreatedAt]) VALUES (N'2b16dacd-278c-43b6-9774-00af900d388a', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'Session Rejected', N'Consultant Dr. Priya Patel has rejected your session request.', 11, 1, CAST(N'2026-02-12T09:35:57.9284217' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Body], [Type], [IsRead], [CreatedAt]) VALUES (N'c35d8ab5-781b-4903-ad19-0243658b36e8', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'Session Accepted', N'Consultant Dr. Priya Patel has accepted your session request.', 10, 1, CAST(N'2026-02-26T07:47:19.2606549' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Body], [Type], [IsRead], [CreatedAt]) VALUES (N'fb368fba-e9c7-4328-a6cc-02ec19a132ce', N'2b47327f-823e-4142-85b5-5230708176d8', N'New Session Request', N'A user has requested a 0 session with you.', 4, 1, CAST(N'2026-02-26T07:04:48.0690992' AS DateTime2))
GO
INSERT [dbo].[Reviews] ([ReviewId], [SessionId], [UserId], [ConsultantId], [Rating], [Comment], [IsModerated], [CreatedAt]) VALUES (N'dad40439-77d3-4397-b571-01744622c115', N'7f7bf9a8-81a8-4fc2-8708-8d682b4a9118', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', 3, N'great advice
', 0, CAST(N'2026-02-27T09:03:58.427' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [SessionId], [UserId], [ConsultantId], [Rating], [Comment], [IsModerated], [CreatedAt]) VALUES (N'0e94a46a-9104-492e-83ec-1195ed83e6d1', N'905523a1-1c5d-40eb-bc47-2c92cd3c0cae', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'2b47327f-823e-4142-85b5-5230708176d8', 4, NULL, 0, CAST(N'2026-02-11T11:35:28.303' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [SessionId], [UserId], [ConsultantId], [Rating], [Comment], [IsModerated], [CreatedAt]) VALUES (N'ee85144f-ad6c-47e5-9e00-182708bc3c35', N'cbfa7bb0-8a64-4ac9-9a57-13ad4c5be54e', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'2b47327f-823e-4142-85b5-5230708176d8', 1, NULL, 0, CAST(N'2026-02-11T10:51:31.763' AS DateTime))
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'User')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Consultant')
GO
INSERT [dbo].[SessionBillingTicks] ([TickId], [SessionId], [AmountDeducted], [BalanceAfterDeduction], [Timestamp]) VALUES (N'9033cdec-6e66-46b7-9dda-00cadeb753d1', N'407d04b0-2771-4d1f-b8f4-3aa9660800d4', CAST(0.00 AS Decimal(18, 2)), CAST(493.99 AS Decimal(18, 2)), CAST(N'2026-02-17T05:48:55.5259765' AS DateTime2))
INSERT [dbo].[SessionBillingTicks] ([TickId], [SessionId], [AmountDeducted], [BalanceAfterDeduction], [Timestamp]) VALUES (N'32c90e6f-ef2e-4576-9153-027082ee6121', N'1db08b05-62af-4f50-8f95-b03d1ac8976c', CAST(3046.67 AS Decimal(18, 2)), CAST(-2526.67 AS Decimal(18, 2)), CAST(N'2026-01-29T09:39:19.9194872' AS DateTime2))
INSERT [dbo].[SessionBillingTicks] ([TickId], [SessionId], [AmountDeducted], [BalanceAfterDeduction], [Timestamp]) VALUES (N'50117fb9-733a-440c-81c6-06493575f90f', N'2f70f392-aee0-4305-be77-9d58a2974b6c', CAST(0.00 AS Decimal(18, 2)), CAST(507050.00 AS Decimal(18, 2)), CAST(N'2026-01-28T12:52:18.3563966' AS DateTime2))
GO
INSERT [dbo].[SessionParticipants] ([Id], [SessionId], [UserId], [JoinedAt]) VALUES (N'd55147e8-61f1-4cb2-b0c5-015b115215bb', N'fc093457-d884-4a3b-be52-db0eff897ceb', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', CAST(N'2026-02-10T07:04:00.0676585' AS DateTime2))
INSERT [dbo].[SessionParticipants] ([Id], [SessionId], [UserId], [JoinedAt]) VALUES (N'86133003-f25e-4c25-a1b7-0184fd8b9a34', N'96476e42-3e8b-4026-87f9-9adad0ace5d4', N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', CAST(N'2026-02-25T07:15:28.6217584' AS DateTime2))
INSERT [dbo].[SessionParticipants] ([Id], [SessionId], [UserId], [JoinedAt]) VALUES (N'b8703ffa-1d54-4f2a-87fd-0280de151cc4', N'741d696c-3794-4a1f-996b-6ea0547be133', N'2b47327f-823e-4142-85b5-5230708176d8', CAST(N'2026-02-17T07:09:26.7670935' AS DateTime2))
GO
INSERT [dbo].[Transactions] ([TransactionId], [WalletId], [Amount], [TransactionType], [Status], [ReferenceId], [Timestamp], [PaymentMethod], [PaymentMethodRef]) VALUES (N'd2409407-6cbb-462b-857d-0aed6fd652e5', N'0d0ef2d6-e628-4cde-bbbe-5082f2494a2e', CAST(9.67 AS Decimal(18, 2)), 2, 1, N'ead51b53-b962-429e-8482-65728aff5388', CAST(N'2026-02-26T06:00:25.9702542' AS DateTime2), N'Session Payment', N'ead51b53-b962-429e-8482-65728aff5388')
INSERT [dbo].[Transactions] ([TransactionId], [WalletId], [Amount], [TransactionType], [Status], [ReferenceId], [Timestamp], [PaymentMethod], [PaymentMethodRef]) VALUES (N'6384e10f-206b-4290-a79c-0b02b9f54d6c', N'55ec5c8f-426e-4042-b368-c2fbdf6a954c', CAST(5.00 AS Decimal(18, 2)), 1, 1, N'407b3d3e-0eee-4bc7-80a7-d5d1cb1df6c3', CAST(N'2026-02-26T07:05:24.6786695' AS DateTime2), N'Session Earning', N'407b3d3e-0eee-4bc7-80a7-d5d1cb1df6c3')
INSERT [dbo].[Transactions] ([TransactionId], [WalletId], [Amount], [TransactionType], [Status], [ReferenceId], [Timestamp], [PaymentMethod], [PaymentMethodRef]) VALUES (N'd226472f-84ee-42f2-9abc-0b0941de0e5c', N'd678f456-f684-4f47-93f1-2e66d2eebbb3', CAST(1.20 AS Decimal(18, 2)), 1, 1, N'7f7bf9a8-81a8-4fc2-8708-8d682b4a9118', CAST(N'2026-02-27T09:03:48.0597184' AS DateTime2), N'Session Earning', N'7f7bf9a8-81a8-4fc2-8708-8d682b4a9118')
GO
INSERT [dbo].[UserPaymentMethods] ([PaymentMethodId], [UserId], [MethodType], [EncryptedPayload], [MaskedDisplay], [IsDefault], [CreatedAt]) VALUES (N'8b58bbb6-bcc2-4017-b2bd-2a6b99886b5e', N'2b47327f-823e-4142-85b5-5230708176d8', N'Card', N'U2FsdGVkX1+92KxQHh9Zc3RlcjEyMzQ1Njc4OTB8Q0FSRHxFWE...ENCRYPTED_BLOB...', N'VISA **** 4242', 1, CAST(N'2026-01-19T12:56:06.5443776' AS DateTime2))
INSERT [dbo].[UserPaymentMethods] ([PaymentMethodId], [UserId], [MethodType], [EncryptedPayload], [MaskedDisplay], [IsDefault], [CreatedAt]) VALUES (N'c7ec4442-0027-494d-b7b1-6fb01df38c4c', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', N'UPI', N'U2FsdGVkX19VcGlJRHxhbWl0QG9rYXhpc3xTRUNSRVRLRVk=...ENCRYPTED...', N'amit@okaxis', 0, CAST(N'2026-01-19T12:58:19.4527869' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Status], [IsPhoneVerified], [RoleId], [CreatedOn], [IsDeleted], [CountryCode], [Email], [IsConsultantVerified], [PasswordHash], [ProfilePhotoUrl]) VALUES (N'70be580e-cefd-4183-bb11-06a2502344d1', N'Admin', N'', N'', N'9504477090', 1, 1, 1, CAST(N'2026-01-20T06:01:07.6709455' AS DateTime2), 0, N'91', N'Admin@gmail.com', 1, N'$2a$11$oYeovSvrZ4x6Fll12j2U8OTJ6lZ0mUqJbKz31AfArkXCOVhH3bOcm', NULL)
INSERT [dbo].[Users] ([UserId], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Status], [IsPhoneVerified], [RoleId], [CreatedOn], [IsDeleted], [CountryCode], [Email], [IsConsultantVerified], [PasswordHash], [ProfilePhotoUrl]) VALUES (N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', N'Adv.', NULL, N'Rohan Mehta', N'8797717751', 1, 1, 3, CAST(N'2026-02-04T10:15:04.5551757' AS DateTime2), 0, N'91', N'Rmehta@gmail.com', 1, N'$2a$11$oYeovSvrZ4x6Fll12j2U8OTJ6lZ0mUqJbKz31AfArkXCOVhH3bOcm', N'/uploads/profiles/8a9a69fe-917e-427b-ab59-5ce985a7a280.jpg')
INSERT [dbo].[Users] ([UserId], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Status], [IsPhoneVerified], [RoleId], [CreatedOn], [IsDeleted], [CountryCode], [Email], [IsConsultantVerified], [PasswordHash], [ProfilePhotoUrl]) VALUES (N'afe2c2b4-d3d9-456e-b61f-2b0e6fcb4269', N'Kunal', N'', N'Kumar', N'9638527410', 1, 1, 2, CAST(N'2026-02-26T11:59:29.2673579' AS DateTime2), 0, N'91', NULL, 1, NULL, NULL)
GO
INSERT [dbo].[Wallets] ([WalletId], [UserId], [Balance], [LastUpdated]) VALUES (N'd678f456-f684-4f47-93f1-2e66d2eebbb3', N'ba5365b2-bbdb-42f2-b0d2-24284237aedd', CAST(48.76 AS Decimal(18, 2)), CAST(N'2026-02-27T12:20:11.6603700' AS DateTime2))
INSERT [dbo].[Wallets] ([WalletId], [UserId], [Balance], [LastUpdated]) VALUES (N'0d0ef2d6-e628-4cde-bbbe-5082f2494a2e', N'f63b6ab9-f1b4-4ea1-815d-9795029e632e', CAST(-1366.93 AS Decimal(18, 2)), CAST(N'2026-03-02T10:04:41.6237527' AS DateTime2))
INSERT [dbo].[Wallets] ([WalletId], [UserId], [Balance], [LastUpdated]) VALUES (N'33067c05-a480-4c97-8dc8-559f047bfe16', N'afe2c2b4-d3d9-456e-b61f-2b0e6fcb4269', CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-02-26T11:59:29.5112479' AS DateTime2))
GO
INSERT [dbo].[WithdrawalRequests] ([RequestId], [ConsultantUserId], [Amount], [BankDetailsSnapshot], [Status], [RequestedAt], [ProcessedAt]) VALUES (N'19a7bd19-25ee-4790-a4f3-11e845f06faf', N'2b47327f-823e-4142-85b5-5230708176d8', CAST(100.00 AS Decimal(18, 2)), N'VISA **** 4242', 1, CAST(N'2026-02-11T07:02:59.5630393' AS DateTime2), CAST(N'2026-02-19T06:51:59.1566968' AS DateTime2))
INSERT [dbo].[WithdrawalRequests] ([RequestId], [ConsultantUserId], [Amount], [BankDetailsSnapshot], [Status], [RequestedAt], [ProcessedAt]) VALUES (N'ae89bc57-b8b2-45ab-8fef-1ebbcb243b38', N'2b47327f-823e-4142-85b5-5230708176d8', CAST(10.00 AS Decimal(18, 2)), N'VISA **** 4242', 1, CAST(N'2026-01-29T06:53:17.9681159' AS DateTime2), CAST(N'2026-01-29T06:53:50.9822568' AS DateTime2))
INSERT [dbo].[WithdrawalRequests] ([RequestId], [ConsultantUserId], [Amount], [BankDetailsSnapshot], [Status], [RequestedAt], [ProcessedAt]) VALUES (N'f27b5567-a530-4bd4-acc0-1ec6c8cb3892', N'2b47327f-823e-4142-85b5-5230708176d8', CAST(110.00 AS Decimal(18, 2)), N'VISA **** 4242', 3, CAST(N'2026-01-29T06:27:30.6842349' AS DateTime2), CAST(N'2026-01-29T06:28:11.3858816' AS DateTime2))
GO
/****** Object:  Index [IX_ChatMessages_SessionId]    Script Date: 03-03-2026 15:38:24 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_SessionId] ON [dbo].[ChatMessages]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_ConsultantId]    Script Date: 03-03-2026 15:38:24 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_ConsultantId] ON [dbo].[Conversations]
(
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_LastMessageAt]    Script Date: 03-03-2026 15:38:24 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_LastMessageAt] ON [dbo].[Conversations]
(
	[LastMessageAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_UserId]    Script Date: 03-03-2026 15:38:24 ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_UserId] ON [dbo].[Conversations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Conversations_User_Consultant]    Script Date: 03-03-2026 15:38:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Conversations_User_Consultant] ON [dbo].[Conversations]
(
	[UserId] ASC,
	[ConsultantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wallets_User]    Script Date: 03-03-2026 15:38:24 ******/
ALTER TABLE [dbo].[Wallets] ADD  CONSTRAINT [UQ_Wallets_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT ((1)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[ConsultantBankDetails] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [FreeMinutesOffer]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [TotalSessionsCompleted]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsCallDiscountActive]
GO
ALTER TABLE [dbo].[ConsultantProfiles] ADD  DEFAULT ((0)) FOR [IsChatDiscountActive]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [TotalChargedAmount]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [ConsultantEarnings]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [isDisputed]
GO
ALTER TABLE [dbo].[ConsultationSessions] ADD  DEFAULT ((0)) FOR [AppliedRate]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Disputes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsModerated]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsPhoneVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsConsultantVerified]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ConsultationSessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ConsultationSessions_SessionId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Conversations] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Conversations]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Session]
GO
ALTER TABLE [dbo].[ConsultantBankDetails]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantBank_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConsultantBankDetails] CHECK CONSTRAINT [FK_ConsultantBank_Consultant]
GO
ALTER TABLE [dbo].[ConsultantCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ConsultantCategories] CHECK CONSTRAINT [FK_ConsultantCategories_Categories]
GO
ALTER TABLE [dbo].[ConsultantCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantCategories_ConsultantProfiles] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantCategories] CHECK CONSTRAINT [FK_ConsultantCategories_ConsultantProfiles]
GO
ALTER TABLE [dbo].[ConsultantProfiles]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConsultantProfiles] CHECK CONSTRAINT [FK_ConsultantProfiles_Users]
GO
ALTER TABLE [dbo].[ConsultantSubCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantSubCategories_Categories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ConsultantSubCategories] CHECK CONSTRAINT [FK_ConsultantSubCategories_Categories]
GO
ALTER TABLE [dbo].[ConsultantSubCategories]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantSubCategories_ConsultantProfiles] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantSubCategories] CHECK CONSTRAINT [FK_ConsultantSubCategories_ConsultantProfiles]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Consultant] FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Consultant]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_User]
GO
ALTER TABLE [dbo].[Disputes]  WITH CHECK ADD  CONSTRAINT [FK_Disputes_ConsultationSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Disputes] CHECK CONSTRAINT [FK_Disputes_ConsultationSessions]
GO
ALTER TABLE [dbo].[KYCDocuments]  WITH CHECK ADD  CONSTRAINT [FK_KYC_Consultant] FOREIGN KEY([ConsultantProfileId])
REFERENCES [dbo].[ConsultantProfiles] ([ConsultantProfileId])
GO
ALTER TABLE [dbo].[KYCDocuments] CHECK CONSTRAINT [FK_KYC_Consultant]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[PaymentGateways]  WITH CHECK ADD  CONSTRAINT [FK_PaymentGateways_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentGateways] CHECK CONSTRAINT [FK_PaymentGateways_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ConsultantId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SessionBillingTicks]  WITH CHECK ADD  CONSTRAINT [FK_SessionBillingTicks_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[SessionBillingTicks] CHECK CONSTRAINT [FK_SessionBillingTicks_Session]
GO
ALTER TABLE [dbo].[SessionParticipants]  WITH CHECK ADD  CONSTRAINT [FK_SessionParticipants_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ConsultationSessions] ([SessionId])
GO
ALTER TABLE [dbo].[SessionParticipants] CHECK CONSTRAINT [FK_SessionParticipants_Session]
GO
ALTER TABLE [dbo].[SessionParticipants]  WITH CHECK ADD  CONSTRAINT [FK_SessionParticipants_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SessionParticipants] CHECK CONSTRAINT [FK_SessionParticipants_User]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Wallets] FOREIGN KEY([WalletId])
REFERENCES [dbo].[Wallets] ([WalletId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Wallets]
GO
ALTER TABLE [dbo].[UserPaymentMethods]  WITH CHECK ADD  CONSTRAINT [FK_UserPaymentMethods_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPaymentMethods] CHECK CONSTRAINT [FK_UserPaymentMethods_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users]
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD  CONSTRAINT [FK_WithdrawalRequests_Users] FOREIGN KEY([ConsultantUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WithdrawalRequests] CHECK CONSTRAINT [FK_WithdrawalRequests_Users]
GO
ALTER TABLE [dbo].[ConsultantProfiles]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
/****** Object:  StoredProcedure [dbo].[GetUsersForAdmin]    Script Date: 03-03-2026 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[GetUsersForAdmin]
    @Skip INT,
    @Take INT,
    @IsConsultant BIT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.UserId,
        u.FirstName,
        u.MiddleName,
        u.LastName,
        u.Email,
        u.CountryCode,
        u.PhoneNumber,
        u.Status,
        u.IsPhoneVerified,
        u.IsConsultantVerified,
        u.CreatedOn,
        r.RoleName,

        -- Consultant
        cp.ConsultantProfileId,
        cp.Bio,
        cp.ExperienceYears,
        cp.ChatRatePerMinute,
        cp.CallRatePerMinute,
        cp.IsOnline,
        cp.FreeMinutesOffer,
        cp.AverageRating,
        cp.TotalSessionsCompleted,

        -- Address
        a.AddressId,
        a.AddressLine,
        a.City,
        a.State,
        a.Zipcode,
        a.Country

    FROM Users u
    INNER JOIN Roles r ON u.RoleId = r.RoleId
    LEFT JOIN ConsultantProfiles cp ON cp.UserId = u.UserId
    LEFT JOIN Addresses a ON a.UserId = u.UserId

    WHERE
        (
            (@IsConsultant = 1 AND r.RoleName = 'Consultant')
            OR
            (@IsConsultant = 0 AND r.RoleName = 'User')
        )

    ORDER BY u.CreatedOn DESC
    OFFSET @Skip ROWS
    FETCH NEXT @Take ROWS ONLY;
END

GO
USE [master]
GO
